.cart-button {
  border: 3px solid transparent;
  z-index: 9;
  transition: box-shadow 0.3s ease, background 0.3s ease;
  position: fixed;
  top: 300px;
  right: 47px;
  background: #ffffff;
  box-shadow: 0px 5px 29px -7px rgba(0, 0, 0, 0.25);
  border-radius: 50%;
  width: 128px;
  height: 128px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #4f4f4f;
  cursor: pointer;

  &:hover {
    color: #990424;
    box-shadow: 0px 8px 35px -7px rgba(0, 0, 0, 0.35);
  }

  .cart-button__icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.styled-num {
  font-family: Roboto;
  background: #990424;
  font-size: 14px;
  line-height: 17px;
  font-weight: 500;
  border-radius: 12px;
  height: 16px;
  min-width: 8px;
  padding: 4px 8px 4px 8px;
  display: block;
  position: absolute;
  left: calc(50% + 14px);
  top: 0;
  color: rgb(245, 245, 245);
  transform: none;
}

@media (max-width: 581px) {
  .styled-num {
    font-size: 12px;
    padding: 0px 4px;
  }
  .cart-button {
    top: 200px;
    right: 7px;
    width: 61px;
    height: 61px;
    .cart-button__icon {
      width: 30px;
    }
  }
}
