.product-item {
  margin: 0 10px 50px 10px;
  width: 220px;
  height: 410px;
  background: #fff;
  overflow: hidden;
  padding: 10px 20px 0px 20px;
  border-radius: 12px;
  text-decoration: none;
  box-shadow: 0px 5px 29px -7px rgba(0, 0, 0, 0.25);
  transition: box-shadow 0.3s ease;

  &:hover {
    box-shadow: 0px 8px 35px -7px rgba(0, 0, 0, 0.35);
  }

  .product-item-name {
    color: #a4a4a4;
    font-size: 16px;
    font-weight: 400;
    font-family: Roboto;
    margin-top: 5px;
    transition: color 0.3s ease;
  }

  &:hover .product-item-name {
    color: #cc051a;
  }

  .product-item-image {
    border-radius: 18px;
    width: 100%;
    height: 304px;
  }

  .product-item-price {
    margin-top: 25px;
    color: #990424;
    font-size: 20px;
    font-weight: 400;
    font-family: Roboto, 'Comic Sans MS', normal;
  }
}

@media (max-width: 860px) {
  .product-item {
    margin: 0px 5px 15px 5px;
    padding: 5px 10px 5px 10px;
    width: 155px;
    height: 246px;

    .product-item-price {
      margin-top: 7px;
      font-size: 15px;
    }

    .product-item-name {
      margin-top: 1px;
      font-size: 14px;
      overflow: hidden;
      height: 14px;
    }

    .product-item-image {
      height: 204px;
      border-radius: 10px;
    }
  }
}