.input-wrapper {
  position: relative;

  .search-container {
    display: flex;
    background: #990424;
    border-radius: 6px;
  }

  .search-input {
    width: 280px;
    flex: 1;
    min-width: 0;
    padding: 0 0 0 20px;
    display: block;
    border: 2px solid #990424;
    height: 35px;
    outline: none;
    background-color: #fbfbfb;
    border-radius: 6px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .search-input::placeholder {
    font-family: Roboto, 'Comic Sans MS', normal;
    font-size: 14px;
    font-weight: 300;
    color: #9b9b9b;
  }

  .button-search {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 75px;
    flex-shrink: 0;
    background: #990424;
    border-radius: 6px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border: none;
    cursor: pointer;
    padding: 0;
    
    &:hover {
      background: #ac1b3a;
    }
  }

  .icon-search {
    color: white;
  }

  .search {
    position: absolute;
    left: 0px;
    top: 44px;
    display: block;
    width: 100%;
    box-shadow: 0px 5px 29px -7px rgba(0, 0, 0, 0.25);
    max-height: 327px;
    overflow-y: auto;
    background: #ffffff;
    z-index: 3;
    border-radius: 10px;

    .element-search {
      display: flex;
      align-items: center;
      height: 50px;
      color: #2c2c2c;
      padding: 0px 30px;
      cursor: pointer;
      background: #ffffff;
      font-family: Roboto, 'Open Sans', 'Helvetica Neue', sans-serif;
      font-weight: 400;
      font-size: 12px;
    }

    :hover {
      background: #ffe6e6;
      transition-property: background-color, color;
      transition-duration: 300ms;
    }
  }

}