.header {
  margin-top: 60px;

  .categoriesWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }

  .categoriesItem {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 190px;
    height: 45px;
    cursor: pointer;
    text-decoration: none;
    color: #4f4f4f;

    &:hover {
      color: #bd1616;
    }

    &.active {
      color: #bd1616;
      cursor: default;
    }

    .categoriesItemName {
      font-family: Roboto;
      font-weight: 400;
      font-size: 24px;
    }
  }
}

@media (max-width: 860px) {
  .header {
    margin-top: 0px;

    .categoriesWrapper {
      justify-content: center;
      flex-wrap: nowrap;
      gap: 10px;
    }

    .categoriesItem {
      width: auto;
      flex-shrink: 0;

      .categoriesItemName {
        font-size: 14px;
      }
    }
  }
}


